/* CSS Document */
*{
  padding:0;
  margin:0;
  outline:none;
  box-sizing:border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family:arial, sans-serif;
  font-size:0.9rem;
}
a{
  text-decoration:none;
}
ul{
  list-style-type:none;
}
h1{
  font-size:2.1rem;
  text-transform: uppercase;
}

h2{
  font-size:1.3rem;
  font-weight:normal;
}

p{
  line-height:1.4rem;
}
/*classes pour couleur des textes*/
.txtvert{
  color:var(--colorvert);
}
.txtgris{
  color:var(--colorgris);
}
.txtblanc{
  color:var(--colorblanc);
}
/*classes pour arrière plans*/
.bgvert{
  background-color:var(--colorvert);
}
.bgblanc{
  background-color:var(--colorblanc);
}

/*classes pour les alignements*/
.center{
  text-align:center;
}
.justify{
  text-align:justify;
}
/*classes pour les dimensions (largeurs)*/
.w1{
  width:100%;
}
.w3{
  width:31%;
}
/*classes pour les espacements*/
.pad10{
  padding:100px 10% 30px;
}
.btn{
  margin:20px auto 0;
}

.btn a:hover{
  background-color:var(--colorgris);
}

.padbtn{
  padding:10px 15px;
  border-radius:4px;
}
/*classes pour les dispositions flex*/
.flex{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  /*align-items:stretch;permet a chaque enfant de faire la même hauteur*/
  align-items:center;/*permet de centrer verticalement les balises enfants*/
}

/*******************************/
#header{
  border-top:10px solid var(--colorvert);
  height:100px;
  position:fixed;
  width:100%;
  z-index:1000;
  padding:25px 10%;
  top:0;
  left:0;
}
#menu a:hover{
  background-color:var(--colorvert);
  color:var(--colorblanc);
}

/*********************************/
#slider{
  height:calc(40vh + 100px);
  padding-top:100px;
  /* background:url("../images/bandeau.jpg") no-repeat center bottom;
  background-size:100%;*/
}
#slider img{
  object-fit:cover;
  width:100%;
  height:40vh;
  object-position: center top;
}
/**************************/
#descriptif{
  height:calc(60vh - 100px);
}

/************************/
#services article{
  border:1px solid var(--colorgris);
  border-radius:4px;
  padding:80px 20px 30px;
  position:relative;
  margin:30px 0;
}

#services article::before{
  content:"";
  width:50px;
  height:50px;
  position:absolute;
  top:20px;
  left:50%;
  transform:translate(-50%,0);
}

#services article:first-of-type::before{
  background:url("../images/picto1.png") no-repeat center center;
  background-size:contain;
}
#services article:nth-of-type(2)::before{
  background:url("../images/picto2.png") no-repeat center center;
  background-size:contain;
}
#services article:last-of-type::before{
  background:url("../images/picto3.png") no-repeat center center;
  background-size:contain;
}
/*******************************/
#blog figure{
  margin:30px 0;
  position:relative;
}

#blog figcaption{
  position:absolute;
  z-index:100;
  left:0;
  bottom:3px;
  width:100%;
  height:35px;
  background:rgba(0,0,0,0.5);
  color:var(--colorblanc);
  line-height:35px;
  border-radius:0 0 4px 4px;
}

#blog figure img{
  width:100%;
  border-radius:4px;
}

#blog p{
  margin-bottom:30px;
}

/**GESTION DU MENU************************/
#burger,#fermer{
  display:none;
}
